.glass-effect {
    --width: 300px;
    transition: background 400ms, transform 1ms, opacity 400ms;
    color: #fff;
    font-size: 30px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .glass-effect:before {
    content: '';
    position: absolute;
    display: block;
    width: 20%;
    height: 100%;
    filter: blur(0px);
    transform: skewX(45deg) translateX(calc(var(--width) + 50%));
    animation: glassReflection 2s infinite linear;
    opacity: 0;
  }
  
  .glass-effect:hover:before {
    background: rgba(255, 255, 255, 0.3);
    animation-play-state: running;
    opacity: 1;
  }
  
  @keyframes glassReflection {
    from {
      transform: skewX(45deg) translateX(calc(var(--width) + 50%));
    }
    to {
      transform: skewX(45deg) translateX(calc(var(--width) * -1 - 50%));
    }
  }